
name: continuous-integration
on:
  push:
    branches: [master]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  pull_request:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: "3.8"
    - uses: pre-commit/action@v2.0.0
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8',  '3.9']
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python versions
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Python dependencies
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel
          pip install -r requirements_dev.txt
      - name: Install Package
        run: |
          python -m pip install .
      - name: Run Tests for ${{ matrix.python-version }}
        run: |
          python -m tox
